---

import Base from "../layouts/Base.astro";
import { getCollection, render } from 'astro:content';
const allNews = await getCollection('news');

---

<Base title="News">
  <div class="container">
    <h2><span>News</span></h2>
    <p class="code">The third digit of the code is 3</p>
    <ul>
      {
        allNews.map(async (newsItem) => {
          const { Content } = await render(newsItem);
          return (
            <li>
              <article>
                <h3>{newsItem.data.title}</h3>
                <time>{newsItem.data.date.toDateString()}</time>
                <div class="md">
                  <Content />
                </div>
              </article>
            </li>
          );
        })
      }
    </ul>
  </div>
</Base>

<style>
  ul > li:not(:last-child) {
    border-bottom: solid grey 1px;
    padding-bottom: var(--sp-l);
    margin-bottom: var(--sp-xl);
  }

  h3 {
    margin-bottom: var(--sp-2xs);
  }

  time {
    display: block;
    margin-bottom: var(--sp-l);
  }
</style>
